.big-box{
    background: rgb(200, 239, 201);
    border: 4px solid rgb(38, 119, 17);
    height: 600px;
    
}

.top-box{
    background: rgb(172, 212, 255);
    border: 4px solid rgb(35, 36, 250);
    height: 150px;
    display: flex;
}

.top-box-item{
    background: rgb(208, 181, 155);
    border: 4px solid rgb(228, 120, 109);
    height: 50px;
    display: flex;
    flex: 1;
}

.top-box-item-item{
    background: rgb(249, 193, 203);
    border: 4px solid rgb(238, 12, 28);
    height: 30px;
    flex: 1;
}

.middle-box{
    background:  rgb(238, 180, 181);
    border: 4px solid rgb(163, 44, 46);
    height: 250px;
    display: flex;

}

.bottom-box{
    background: rgb(172, 212, 255);
    border: 4px solid rgb(35, 36, 250);
    height: 100px;

}